/* ------Desktop Size------ */
@media (max-width: 1024px) {

    .main-intro {
        display: flex;
        align-items: center;
        text-align: left;
        justify-content: center;
        width: 100%;
    }

    .aboutme-text {
        width: 50%;
    }

    .contact-text {
        width: 50%;
    }
}

/* ------Tablet Size------ */

@media (max-width: 768px) {
   nav {
    padding: 10px;
    position: absolute;
    right: 0;
    top: 65px;
    width: 100%;
    background: var(--bg-color-1);
    z-index: 10;
    overflow: hidden;
   }

   nav ul {
    display: none;
   }

   nav ul.active {
    display: flex;
    flex-direction: column;
    padding: 10px;
    animation: fadeIn 1s;
   }

   @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

   nav ul li {
    border-bottom: 1.5px solid var(--primary-color);
    padding: 10px;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   nav ul li a {
    border: none;
   }

   .burger-menu {
    display: block;
   }

   nav ul li:first-child a {
    border-bottom: none;
   }

   nav ul li a:active {
    border-bottom: none;
    padding-bottom: none;
   }

   nav ul li a:hover {
    border-bottom: none;
    padding-bottom: none;
   }

   .sc-icn .bx {
    font-size: 2.5rem;
   }

   .aboutme-text {
    width: 100%;
}

.contact-text {
    width: 100%;
}

}

/* ------Mobile Size------ */

@media (max-width: 475px) {

    .skills-paragraph-text h2 {
        text-align: center;
    }

    .main-intro p {
        padding-left: 20px;
    }

    .main-intro h2 {
        text-align: center;
    }

    .portfolio-intro-text h2 {
        text-align: center;
    }

    .aboutme-intro img {
        width: 250px;
        height: 250px;
    }

    .contact-img img  {
        width: 250px;
        height: 250px;
    }

    .contact-text h2 {
        text-align: center;
    }

    .sc-icn {
        gap: 12px;
    }

    .sc-icn .bx {
        font-size: 1.5rem;
    }

    .footer-content {
        font-size: 0.7rem;
    }
}
