/* Mobile Size Medium */
@media (min-width: 375px) {
    .main-img img {
        width: 250px;
    }

    .skl-card {
        width: 250px;
        height: auto;
    }

    .project {
        width: 250px;
        height: 250px;
    }

    .project img {
        width: 200px;
        height: 180px;
    }

    .about-img img {
        width: 250px;
    }

    .contact-img img {
        width: 250px;
    }

    .icn-link {
        flex-direction: column;
        width: 100px;
    }
}
/* Mobile Size Large */
@media (min-width: 425px) {
    .main-img img {
        width: 300px;
    }

    .skl-card {
        width: 250px;
        height: auto;
    }

    .project {
        width: 300px;
        height: 300px;
    }

    .project img {
        width: 280px;
        height: 240px;
    }

    .about-img img {
        width: 300px;
    }

    .contact-img img {
        width: 300px;
    }

    .icn-link {
        flex-direction: column;
        width: 120px;
    }
}

/* Larger Mobile Device */
@media (min-width: 600px) {
    .icn-link {
        flex-direction: column;
        width: 150px;
    }

    .skl-card {
        width: 200px;
        height: auto;
    }
}


/* Tablet Size */
@media (min-width: 768px) {
    .main-img img {
        width: 400px;
    }

    .skl-card {
        width: 250px;
        height: auto;
        gap: 12px;
        padding: 14px;
    }

    .container {
        height: 20px;
    }

    .skill {
        height: 18px;
    }

    .project {
        width: 300px;
        height: 300px;
    }

    .project img {
        width: 280px;
        height: 240px;
    }

    .about-img img {
        width: 400px;
    }

    .contact-img img {
        width: 400px;
    }

    .contact-icn {
        justify-content: center;
        gap: 4px;
    }

    .icn-link {
        flex-direction: row;
        width: 141px;
    }
}

/* Laptop Size */
@media (min-width: 1024px) {
    /* Header Nav */
    .burger-menu {
        display: none;
    }

    header {
        /* border: 3px solid red; */
        position: fixed;
    }

    nav {
        /* border: 3px solid green; */
        position: relative;
        top: 0;
        z-index: 0;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    nav ul {
        border: 3px solid red;
        display: flex;
        justify-content: right;
        gap: 14px;
        margin-right: 10px;
    }

    nav ul li {
        display: flex;
        border-bottom: none;
        padding: 0;
    }

    nav ul li a {
        /* border: 3px solid red; */
        border-bottom: 3px solid transparent;
        padding: 10px;
        cursor: pointer;
    }

    nav ul li a:hover {
        border-bottom: 3px solid var(--primary-color);
        padding: 10px;
        transition: all 0.3s ease-in-out;
    }

    nav ul li a:active {
        color: rgb(219, 219, 219);
        transform: scale(0.95);
    }

    .my-logo p {
        font-size: 2rem;
    }
/* Main Content */
    main {
        margin-top: 0;
        min-height: 90vh;
    }

    .main-content {
        flex-direction: row;
    }

    .main-intro h2 {
        text-align: left;
    }

    .main-intro h3 {
        text-align: left;
    }

    button {
        margin: auto 0;
    }

    #skills {
        min-height: 90vh;
    }

    #portfolio {
        min-height: 90vh;
    }

    #about-me {
        min-height: 90vh;
    }

    #contact {
        min-height: 90vh;
    }

    .main-img img {
        width: 350px;
    }

    .skl-card {
        width: 250px;
        height: auto;
        gap: 12px;
        padding: 14px;
    }

    .project img {
        width: 280px;
        height: 240px;
    }

    .aboutme-content {
        flex-direction: row;
    }

    .about-img img {
        width: 350px;
    }

    .contact-content {
        flex-direction: row;
    }

    .contact-img img {
        width: 350px;
    }

    .icn-link {
        flex-direction: row;
        width: 150px;
    }
}

@media (min-width: 1200px) {
    .skl-card {
        width: 300px;
        height: auto;
        gap: 12px;
        padding: 14px;
    }

    .skl-card .bx {
        font-size: 3.5rem;
    }
}

@media (min-width: 1920px) {
    
}
