/* ------Laptop Size------ */
@media (max-width: 1024px) {
    h1 {
        font-size: 2rem;
        line-height: 1.6;
    }
    
    h2 {
        font-size: 1.8rem;
        line-height: 1.6;
    }
    
    h3 {
        font-size: 1.5rem;
        line-height: 1.6;
    }
    
    p {
        font-size: 0.8rem;
        line-height: 1.6;
    }

    .main-img img {
        width: 285px;
        height: 285px;
    }

    .skills-card {
        width: 290px;
    }

    .aboutme-intro img {
        width: 285px;
        height: 285px;
    }

    .contact-img img {
        width: 285px;
        height: 285px;
    }

    .icn-link {
        flex-direction: column;
    }

}

/* ------Tablet Size------ */
@media (max-width: 992px) {
    .main-intro {
        width: 100%;
        /* margin: 0 auto; */
    }
    
    .main-intro button {
        margin: 0 auto;
    }
    
    .aboutme-text {
        width: 100%;
    }
    
    .contact-text {
        width: 100%;
       }
    
    .contact-text h3 {
        margin: 0 auto;
    }
    
    .sc-icn {
        margin: 0 auto;
    }
    
    .main-img img {
        width: 250px;
        height: 250px;
    }
    
    .aboutme-intro img {
        width: 250px;
        height: 250px;
    }
    
    .contact-img img {
        width: 250px;
        height: 250px;
    }

}

@media (max-width: 768px) {
   nav {
    padding: 10px;
    position: absolute;
    right: 0;
    top: 65px;
    width: 100%;
    background: var(--bg-color-1);
    z-index: 10;
    overflow: hidden;
   }

   nav ul {
    display: none;
   }

   nav ul.active {
    display: flex;
    flex-direction: column;
    padding: 10px;
    animation: fadeIn 1s;
   }

   @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

   nav ul li {
    border-bottom: 1.5px solid var(--primary-color);
    padding: 10px;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   nav ul li a {
    border: none;
   }

   .burger-menu {
    display: block;
   }

   nav ul li:first-child a {
    border-bottom: none;
   }

   nav ul li a:active {
    border-bottom: none;
    padding-bottom: none;
   }

   nav ul li a:hover {
    border-bottom: none;
    padding-bottom: none;
   }

   .main-intro {
    width: 100%;
   }

   .main-content {
    gap: 28px;
   }

   .aboutme-intro {
    gap: 28px;
   }

   .contact-content {
    gap: 28px;
   }

   .main-intro button {
    margin: 0 auto;
   }

   .aboutme-text {
    width: 100%;
   }

   .contact-text {
    width: 100%;
   }

   .contact-text h3 {
    margin: 0 auto;
   }

   .sc-icn {
    margin: 0 auto;
   }

   .main-img img {
    width: 225px;
    height: 225px;
    }

    .aboutme-intro img {
    width: 225px;
    height: 225px;
    }

    .contact-img img {
    width: 225px;
    height: 225px;
    }

}

/* ------Mobile Size------ */

@media (max-width: 425px) {
    h1 {
        font-size: 1.6rem;
        line-height: 1.6;
    }
    
    h2 {
        font-size: 1.4rem;
        line-height: 1.6;
    }
    
    h3 {
        font-size: 1.2rem;
        line-height: 1.6;
    }
    
    p {
        font-size: 0.8rem;
        line-height: 1.6;
    }

    main .bx {
        font-size: 1.8rem;
        right: 10px;
    }

    .main-wrapper {
        width: 100%;
    }

    .main-intro h2 {
        text-align: center;
    }

    .main-intro h3 {
        text-align: center;
    }

    .main-img img {
        width: 200px;
        height: 200px;
    }

    .main-content {
        gap: 24px;
    }
    
    .aboutme-intro {
        gap: 24px;
    }
    
    .contact-content {
        gap: 24px;
    }

    .aboutme-intro img {
        width: 200px;
        height: 200px;
    }

    .contact-img img {
        width: 200px;
        height: 200px;
    }

    .skills-wrapper {
        width: 100%;
    }

    .skills-card {
        width: 250px;
    }

    .skills-card .bx {
        font-size: 2rem;
    }

    .container {
        height: 18px;
    }

    .skill {
        height: 13px;
        padding: 0.5% 1% 0.5% 1%;
    }

    .portfolio-content {
        width: 100%;
    }

    .portfolio-intro-text h3 {
        margin: 0 auto;
    }

    .aboutme-content {
        width: 100%;
    }

    .contact-wrapper {
        width: 100%;
    }

    .contact-text h3 {
        text-align: center;
    }

    .sc-icn {
        justify-content: center;
    }

    .bx {
        padding: 2px;
        font-size: 1.2rem;
    }

    .icn-link a {
        font-size: 0.6rem;
    }

    .icn-link {
        display: flex;
        flex-direction: column;
    }

    .footer-content, p {
        font-size: 0.6rem;
    }

}

@media (max-width: 375px) {
    .portfolio-intro-text h3 {
        text-align: center;
    }

    .bx {
        font-size: 1rem;
    }

    .icn-link a {
        font-size: 0.5rem;
    }

    .main-img img {
        width: 170px;
        height: 170px;
    }

    .aboutme-intro img {
        width: 170px;
        height: 170px;
    }

    .contact-img img {
        width: 170px;
        height: 170px;
    }

    .main-content {
        gap: 20px;
    }
    
       .aboutme-intro {
        gap: 20px;
    }
    
       .contact-content {
        gap: 20px;
    }
}

@media (max-width: 325px) {
    main .bx {
        font-size: 1.3rem;
        right: 5px;
    }

    .sc-icn {
        display: flex;
        flex-wrap: nowrap;
    }

    .bx {
        font-size: 0.8rem;
    }

    .icn-link a {
        font-size: 0.3rem;
    }

    .main-content {
        gap: 16px;
    }
    
       .aboutme-intro {
        gap: 16px;
    }
    
       .contact-content {
        gap: 16px;
    }
}

/* ============ Project Section ============ */
@media (max-width: 425px) {
    .header {
        width: 100%;
    }

    .profile {
        justify-content: center;
    }

    .article-container {
        width: 100%;
    }

    .profile img {
        width: 75px;
        height: 75px;
    }

    .contact-sct {
        gap: 20px;
    }   
}

@media (max-width: 325px) {
    .profile-intro p {
        font-size: 0.4rem;
    }

    .profile-intro time {
        font-size: 0.4rem;
    }

    .profile img {
        width: 65px;
        height: 65px;
    }

    .contact-sct {
        /* border: 3px solid green; */
        gap: 12px;
        display: flex;
        flex-wrap: nowrap;
    }
    
}

@media (max-width: 375px) {
    .contact-sct {
        gap: 16px;
    }
}
