:root {
    --primary-color: #FFB762;   /* button color */
    --text-color: #FEFEFE;      /* text color */
    --bg-color-1: #111111;       /* background 1 */
    --bg-color-2: #1E1E1E;       /* background 2 */
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Montserrat', sans-serif;
    background: var(--bg-color-1);
}

h1 {
    font-size: 2.986rem;
    line-height: 1.6;
}

h2 {
    font-size: 2.488rem;
    line-height: 1.6;
}

h3 {
    font-size: 2.074rem;
    line-height: 1.6;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

/* ---------------Header--------------- */
header {
    /* border: 3px solid red; */
    width: 100%;
    height: 70px;
    display: flex;
    padding: 10px;
    background: var(--bg-color-1);
    position: fixed;
    z-index: 10;
}

.header-wrapper {
    /* border: 3px solid blue; */
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    /* border: 3px solid red; */
    display: block;
    margin-right: 10px;
    cursor: pointer;
}

.header-logo p {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: bold;
}

nav {
    display: inline-block;
    /* border: 3px solid red; */
}

nav ul {
    /* border: 3px solid red; */
    display: flex;
    gap: 14px;
}

nav ul li {
    /* border: 3px solid red; */
    padding: 8px;
}

nav ul li a {
    color: var(--text-color);
    font-weight: 500;
    border-bottom: 3px solid transparent;
    padding-bottom: 8px;
}

nav ul li a:hover {
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 8px;
}

nav ul li a:active {
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 8px;
    color: #dddddd;
    background: transparent;
    transform: scale(0.98);
}

nav ul li:first-child a {
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 8px;
}

/* Burger menu */
.burger-menu {
    display: none;
    cursor: pointer;
    z-index: 100;
}

.burger-menu span {
    display: block;
    width: 24px;
    height: 2px;
    margin: 5px auto;
    background: var(--text-color);
    transition: all 0.3s ease-in-out;
}

.burger-menu.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.burger-menu.active span:nth-child(2) {
    opacity: 0;
}

.burger-menu.active span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

/* ---------------Main Section--------------- */

main {
    background: var(--bg-color-1);
    /* border: 3px solid red; */
    padding: 10px;
    min-height: 80vh;
    display: flex;
    margin-top: 85px;
}

main .bx {
    /* border: 3px solid red; */
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2.5rem;
    transition: ease-out 0.1s;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
    cursor: pointer;
}

main .bx {
    opacity: 1;
    pointer-events: auto;
}

main .bx:hover {
    transform: scale(1.2);
    transition: all 0.3 ease-in-out;

}

main .bx:active {
    transform: scale(0.95);
    transition: all 0.3 ease-in-out;
}

.main-wrapper {
    /* border: 3px solid red; */
    padding: 10px;
    display: flex;
    margin: 0 auto;
    width: 90%;
}

.main-content {
    /* border: 3px solid blue; */
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.main-intro {
    /* border: 3px solid red; */
    padding: 10px;
    width: 60%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-intro button {
    width: 120px;
    height: 42px;
    color: var(--primary-color);
    font-size: 0.8em;
    font-weight: bold;
    background: transparent;
    border: 2.5px solid var(--primary-color);
    cursor: pointer;
    box-shadow: inset 0 0 0 0 transparent;
    transition: ease-out 0.4s;
}

.main-intro button:hover {
    color: var(--bg-color-1);
    box-shadow: inset 143px 0 0 0 var(--primary-color);
}

.main-intro button:active {
    background: var(--primary-color);
    color: var(--bg-color-1);
    transform: scale(0.98);
    transition: all 0.1s ease-in;
}

.main-img img {
    width: 350px;
    height: 350px;
    border: 2.5px solid var(--primary-color);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    animation: spin 5s linear;
    box-shadow: -1px 3px 19px -3px rgba(255,199,0,0.55);
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/* --------------- Skills Section --------------- */

section {
    /* border: 3px solid white; */
    height: auto;
    padding: 10px;
    background: var(--bg-color-2);
    color: var(--text-color);
    min-height: 90vh;
}

.skills-wrapper {
    /* border: 3px solid red; */
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-intro {
    /* border: 3px solid green; */
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.skills-paragraph-text {
    /* border: 3px solid red; */
    color: var(--primary-color);
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
}

.skills-intro h3 {
    /* border: 3px solid red; */
    padding: 10px;
    margin: 10px auto;
}

/* Card Section */

.skills-list-wrapper {
    /* border: 3px solid blue; */
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.hard-skills {
    /* border: 3px solid red; */
    padding: 10px;
}

.skill-text {
    /* border: 3px solid red; */
    padding: 10px;
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.hard-skill-paragraph {
    color: var(--primary-color);
    font-weight: bold;
}

/* Skills Card */
.skills-card-wrapper {
    /* border: 3px solid red; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.skills-card {
    border: 1.5px solid rgba(255, 217, 79, 0.485);
    border-radius: 2px;
    background: rgba( 0, 0, 0, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(242, 181, 14, 0.164);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    transform: scale(0.94);
}

.skills-card:hover {
    transform: scale(0.98);
    transition: all 0.3s ease-in-out;
}

.card-title {
    /* border: 3px solid blue; */
    padding: 10px;
    color: var(--primary-color);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.skills-card .bx {
    /* border: 3px solid red; */
    color: var(--text-color);
    padding: 10px;
    margin: 8px auto;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PROGRESS BAR */

.container {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 2px;
    display: flex;
    height: 20px;
    width: 100%;
    /* border: 3px solid red; */
}

.skill {
    animation: load 3s normal forwards;
    border-radius: 100px;
    background: var(--primary-color);
    text-align: right;
    padding: 1% 2% 1% 2%;
    color: var(--bg-color-1);
    font-size: 10px;
    font-weight: bold;
    height: 15px;
    width: 0;
    box-shadow: -1px 3px 19px -3px rgba(255,199,0,0.55);
}
/* ------(HARD SKILL)----- */
/* ---Front End Part--- */
.html {
    width: 90%;
}

.CSS {
    width: 70%;
}

.Javascript {
    width: 40%;
}

/* ---UIUX Part--- */
.UI {
    width: 75%;
}

.UX {
    width: 70%;
}

.research {
    width: 80%;
}

/* ---Other Part--- */
.Copywriting {
    width: 70%;
}

.AI {
    width: 80%;
}

.marketing {
    width: 70%;
}

/* ------(SOFT SKILL)------ */
/* ---Interpersonal--- */
.com {
    width: 90%;
}

.tw {
    width: 80%;
}

.emp {
    width: 75%;
}

/* ---Personal--- */
.pb {
    width: 80%;
}

.dm {
    width: 75%;
}

.tm {
    width: 85%;
}

/* ---Other--- */
.crea {
    width: 85%;
}

.ct {
    width: 80%;
}

.la {
    width: 75%;
}

@keyframes load {
    0% { width: 0; }
    40% { width: 100%; }
  }

/* --------------- Portfolio Section --------------- */

section {
    background: var(--bg-color-1);
    /* border: 3px solid white; */
    height: auto;
    color: var(--text-color);
    padding: 10px;
    min-height: 90vh;
}

.portfolio-content {
    /* border: 3px solid red; */
    padding: 10px;
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-intro-text {
    /* border: 3px solid red; */
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.port-title-paragraph {
    /* border: 3px solid red; */
    margin: 0 auto;
    padding: 10px;
    color: var(--primary-color);
    font-weight: bold;
}

.portfolio-intro-text h3 {
    /* border: 3px solid red; */
    margin: 10px auto;
    padding: 10px;
}

/* ------Portfolio Project Section------ */

.port-nav {
    /* border: 3px solid blue; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.port-nav ul {
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    width: 572px;
    height: 18px;
    padding: 10px;
    margin: 10px;
}

/* Port Nav Section */
.port-nav ul li a {
    color: var(--text-color);
    font-weight: bold;
    border-bottom: 2px solid transparent;
    padding-bottom: 8px;
    transition: border-bottom 0.3s ease-in-out;
}

.port-nav ul li a:active {
    color: #dddddd;
    background: transparent;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 8px;
    transform: scale(0.98);
}

.port-nav ul li a:hover {
    color: #eeeeee;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 8px;
}

/* Port Category */
.portfolio-items {
    /* border: 3px solid red; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.category {
    border: 1.5px solid rgba(255, 217, 79, 0.485);
    border-radius: 10px;
    background: rgba( 0, 0, 0, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(242, 181, 14, 0.164);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    width: 280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    transform: scale(0.94);
}

.category a {
    color: var(--text-color);
    cursor: pointer;
}

.category:hover {
    transform: scale(0.98);
    transition: all 0.3s ease-in-out;
}

.category img {
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* --------------- About Me Section --------------- */

section {
    /* border: 3px solid red; */
    background: var(--bg-color-2);
    padding: 10px;
    height: auto;
    color: var(--text-color);
    min-height: 90vh;
}

.aboutme-content {
    /* border: 3px solid red; */
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.about-intro-text {
    /* border: 3px solid red; */
    padding: 10px;
    margin: 0 auto;
    font-weight: bold;
    color: var(--primary-color);
}

.aboutme-intro {
    /* border: 3px solid red; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
    justify-content: center;
    
}

.aboutme-text {
    /* border: 3px solid green; */
    padding: 10px;
    width: 60%;

}

.aboutme-intro img {
    border: 2.5px solid var(--primary-color);
    padding: 10px;
    margin: 10px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: -1px 3px 19px rgba(255,199,0,0.55);
    transition: 0.3s ease-in-out
}

.aboutme-intro img:hover {
    transform: rotate(15deg);
}

.aboutme-intro img:active {
    transform: rotate(10deg);
    cursor: pointer;
}

/* --------------- Contact Section --------------- */

section {
    /* border: 3px solid red; */
    padding: 10px;
    background: var(--bg-color-1);
    color: var(--text-color);
    min-height: 90vh;
}

.contact-wrapper {
    /* border: 3px solid red; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-intro {
    /* border: 3px solid red; */
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
    color: var(--primary-color);
}

.contact-content {
    /* border: 3px solid blue; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.contact-text {
    /* border: 3px solid green; */
    padding: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.contact-text h3 {
    /* border: 3px solid green; */
    margin: 10px 0px 10px 0px;
}

.sc-icn {
    /* border: 3px solid orange; */
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 14px;
}

.bx {
    /* border: 3px solid red; */
    font-size: 1.4rem;
    padding: 4px;
    color: var(--primary-color);
}

.icn-link {
    /* border: 3px solid blue; */
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 4px;
}

.icn-link a {
    color: var(--text-color);
    font-size: 0.8rem;
}

.icn-link:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.icn-link:active {
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
}

.contact-img img {
    width: 350px;
    height: 350px;
    border: 2.5px solid var(--primary-color);
    border-radius: 50%;
    padding: 10px;
    box-shadow: -1px 3px 19px rgba(255,199,0,0.55);
}

/* --------------- Footer Section --------------- */

footer {
    /* border: 3px solid red; */
    background: var(--bg-color-2);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border-top: 1.5px solid var(--primary-color);
}

.footer-content {
    /* border: 3px solid red; */
    padding: 10px;
    margin: 10px;
    text-align: center;
}

/* ============ Project Section ============ */
article {
    /* border: 3px solid red; */
    padding: 10px;
    margin: 10px;
    margin-top: 85px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.header {
    border: 3px solid blue;
    padding: 10px;
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 14px;
    margin: 0 auto;
}

.header h1 {
    /* border: 3px solid red; */
    padding: 10px;
}

.profile {
    /* border: 3px solid orange; */
    padding: 10px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    padding: 4px;
}

.profile-intro {
    /* border: 3px solid red; */
    padding: 4px;
}

.profile-intro p {
    font-size: 0.6rem;
}

.profile-intro time {
    font-size: 0.5rem;
}

/* Container */

.article-container {
    /* border: 3px solid blue; */
    padding: 10px;
    margin: 0 auto;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article-container img {
    max-width: 100%;
    object-fit: cover;
}

.contact-sct {
    /* border: 3px solid red; */
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 28px;
}
